@media(max-width:1540px){
  .header{
    &__inner{
      display: block;
    }
    &__content{
      flex-direction: row;
      margin: 0 auto;
      max-width: 88.5vw;
    }
    &__top{
      padding: 52px 15px 0 15px;
    }
    &__item{
      min-height: 70vh;
    }
    &__left{
      margin: 0 auto;
      height: 20vh;
      max-width: 88.5vw;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
    &__logo{
      margin-top: -20px;
    }
  }
  .menu{
    &__list{
      display: flex;
    }
    &__item{
      margin-bottom: 0;
    }
    &__item:not(:first-child){
      margin-left: 25px;
    }
    &__button{
      margin-bottom: 30px;
    }
  }
  .preferences{
    &__slider{
       .slick-arrow,
       .slick-left,
       .slick-right{
        top: -45px;
        transform: translateY(0);
       }
    }
  }
}
@media(max-width:1424px){
  .reviews{
    &__inner{
      display: block;
    }
    &__team{
      margin-bottom: 50px;
    }
    &__text{
      max-width: 75vw;
    }
    &__box{
      margin: 0 auto;
    }
    &__box-title{
      margin-left: 21%;
    }
  }
}
@media(max-width:1200px){
  .preferences{
    &__points{
      display: block;
      padding-top: 0;
      padding-bottom: 100px;
    }
    &__ellipse{
      margin: 0 auto;
      .preferences__point{
      display: none;
     }
    }
    &__point--responsive{
      display: flex;
      text-align: left;
      margin-bottom: 30px;
      position: static;
    }
  }
}
@media(max-width:770px){
  .header{
    &__left{
      justify-content: space-between;
      padding: 0 5px 0 5px;
    }
    &__item{
      min-height: 50vh;
    }
    &__top{
      padding: 20px 0 0 5px;
      display: block;
    }
    &__form{
      margin-bottom: 20px;
    }
    &__info{
      margin-left: 5px;
      margin-top: 20px;
    }
    &__title{
      font-size: 25px;
      margin-bottom: 10px;
    }
    &__text{
      margin-bottom: 5px;
    }
  }
  .user{
    &__link{
      justify-content: start;
    }
  }
  .menu{
    &__list{
      transform: translateY(-200%);
      position: absolute;
      top: 120px;
      width: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: transform 0.5s ease;
      background-color: #b4b4b4;
      &.menu__list--active{
        transform: translateY(0);
        transition: transform 0.5s ease;
      }
    }
     &__item + .menu__item{
        margin-left: 0;
      }
      &__item{
      width: 100%;
      padding: 0 15px;
      text-align: center;
     }
     &__item:not(:last-child){
       margin-bottom: 10px;
     }
    &__link{
      padding: 5px 0;
      display: block;
     }
      &__btn{
      display: block;
    }
  }
  .slides-numbers{
    bottom: 0;
    right: 30px;
  }
  .prev-arrow,
  .next-arrow{
    bottom: -7px;
  }
  .prev-arrow{
    right: 127px;
  }
  .next-arrow{
    right: 10px;
  }
  .about{
    &__statistics{
      padding: 0 0 30px 0;
      text-align: left;
    }
    &__title{
      margin-bottom: 10px;
    }
    &__text{
      margin-bottom: 20px;
    }
    &__popup{
      margin-top: 40px;
    }
    &__image{
      height: 300px;
      &:hover{
        transform: translate(0, 0);
      }
    }
  }
  .reviews{
    &__form{
      margin-top: 30px;
      position: static;
      width: 100%;
      &:hover{
        transform: translate(0, 0);
      }
    }
    &__input{
      display: block;
      width: 100%;
    }
    &__box,
    #map{
      height: 300px;
    }
  }
 
  .preferences,
  .reviews{
    &__title{
      margin-left: 0;
      text-align: center;
    }
  }
  .title{
    font-size: 20px;
    margin-bottom: 30px;
  }
  .footer{
    padding-top: 200px;
    &__menu{
      display: none;
    }
  }
}




